<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

<head>

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>
    {{ page.title | default: site.title }}
    |
    {{ site.title }}
  </title>

  <meta
    name="description"
    content="{{ page.description | default: site.description }}"
  >

  <link
    rel="stylesheet"
    href="{{ '/assets/style.css' | relative_url }}"
  >

  <link
    rel="icon"
    type="image/jpeg"
    href="{{ '/assets/images/IMG_20260825_221224_981.jpg' | relative_url }}"
  >

<meta name="google-site-verification" content="googlef6fb0a2e76eeb9f3" />

  
</head>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FWTMNZ4WLG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FWTMNZ4WLG');
</script>

<body>

  {% include header.html %}


  <main>

    {{ content }}

  </main>


  {% include footer.html %}

</body>

</html>
